# Java byte-code binaries
*.class

# Python compiled modules
*.pyc

# Package Files #
*.jar
*.war
*.ear

# We hide the image resources we need for the board to load all the images
src/images/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Net Beans Stuff:
nbproject/
/dist/
/build/
build.xml
manifest.mf
*.properties

#Eclipse Stuff:
.classpath
.project
/bin/

#Intellij Stuff:
/.idea/
*.iml

#Folder for storing third party Jar Files:
/lib/